<div [ngClass]="existingClass">
    <div class="h-full w-full grid grid-rows-13 grid-cols-6 lg:grid-rows-6 gap-x-4">
        <div class="col-span-6 row-span-2 md:col-span-2 lg:row-span-1 ">
            <div class="flex items-center h-full space-x-1 pt-4 sm:pt-1 rtl:space-x-reverse cursor-default">
                <img src="./assets/Images/Group 10000020535.svg" class=" w-20" alt="Napta Logo" />
                <span
                    class="self-center text-5xl md:text-5xl lg:text-6xl font-semibold whitespace-nowrap dark:text-white text-gray-900 font-Philosopher ">NAPTA</span>
            </div>
        </div>
        <div class="col-span-6 row-span-2 md:col-span-4 lg:row-span-1 ">
            <div class="flex justify-end items-center space-x-3 h-full pt-4 lg:py-0">
                <i class="fa-solid fa-phone-volume text-[#2d352b] dark:text-slate-200"></i><span
                    class="text-base font-Signika text-[#2d352b] dark:text-slate-200">+20(011)4040-3</span><i
                    class="fa-regular fa-envelope fa-lg text-[#2d352b] dark:text-slate-200"></i><span
                    class="text-base font-Signika text-[#2d352b] dark:text-slate-200">Naptaplatform&#64;gmail.com</span>
            </div>
        </div>
        <div
            class="order-3 lg:order-none col-span-6 row-span-3 lg:col-span-2 lg:row-span-3 flex flex-col justify-center">
            <p class="font-Quicksand font-bold text-2xl text-[#12330c] pt-3 sm:pt-0 dark:text-slate-200 ">Install App
            </p>
            <div class="space-x-3 lg:space-x-[1px] xl:space-x-3 my-4">
                <button
                    class="group w-40 lg:w-28 lgxl:w-40 relative inline-flex items-center justify-center mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white active:ring-4 active:outline-none active:ring-green-500 dark:active:ring-green-800">
                    <span
                        class="w-full relative  transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
                        <img class="w-full" src="./assets/Images/Link → google-play.jpg.png" alt="google store">
                    </span>
                    <p
                        class="bg-lime-600 absolute px-4 py-2 lg:px-2 lg:py-1 lgxl:px-4 lgxl:py-2 bottom-4 -translate-y-11 rounded-xl opacity-0 group-hover:translate-y-1.5 group-hover:opacity-100 transition-transform group-active:animate-shake duration-150 delay-150 dark:bg-green-800 ">
                        Soon</p>
                </button>
                <button
                    class="group w-40 lg:w-28 lgxl:w-40 relative inline-flex items-center justify-center mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white active:ring-4 active:outline-none active:ring-green-500 dark:active:ring-green-800">
                    <span
                        class="w-full relative  transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
                        <img class="w-full" src="./assets/Images/Link → app-store.jpg.png" alt="app store">
                    </span>
                    <p
                        class="bg-lime-600 absolute px-4 py-2 lg:px-2 lg:py-1 lgxl:px-4 lgxl:py-2 bottom-4 -translate-y-11 rounded-xl opacity-0 group-hover:translate-y-1.5 group-hover:opacity-100 transition-transform group-active:animate-shake duration-150 delay-150 dark:bg-green-800 ">
                        Soon</p>
                </button>
            </div>
            <p class="font-Quicksand text-sm font-medium text-[#12330c] dark:text-slate-200 ">Secured Payment Gateways
            </p>
        </div>
        <div class=" col-span-6 row-span-3 lg:col-span-4 lg:row-span-3 text-[#2d352b] pt-4 dark:text-slate-200">
            <div class="grid grid-cols-6 content-center h-full gap-x-4">
                <div class="col-start-1 col-span-2 flex flex-col justify-start h-full">
                    <p class="font-Signika text-lg font-medium">Working Time:</p>
                    <p class="text-base font-Roboto leading-none mt-5 mb-4">Mon - Fri: 9.00am - 5.00pm</p>
                    <p class="text-base font-Roboto leading-none mb-4">Saturday: 10.00am - 6.00pm</p>
                    <p class="text-base font-Roboto leading-none mb-4">Friday Closed</p>
                </div>
                <div class="col-start-3 col-span-2 flex flex-col justify-start ps-8 h-full">
                    <p class="font-Signika text-lg leading-none font-medium">Useful Links:</p>
                    <p class="text-base font-Roboto leading-none mt-5 mb-4"><a [routerLink]="['/Start/Home']"
                            class="hover:text-green-200 dark:hover:text-green-600 active:text-green-300 dark:active:text-green-700 ">Home</a>
                    </p>
                    <p class="text-base font-Roboto leading-none mb-4"><a [routerLink]="['/Start/OurTeam']"
                            class="hover:text-green-200 dark:hover:text-green-600 active:text-green-300 dark:active:text-green-700">Our
                            Team</a></p>
                </div>
                <div class="col-start-5 col-span-2 flex flex-col justify-start h-full">
                    <p class="font-Signika text-lg font-medium">Our address:</p>
                    <p class="text-base font-Roboto leading-none mt-5 mb-4">Banha - Qalyubia Governorate, </p>
                    <p class="text-base font-Roboto leading-none mb-4">after the bus stop, </p>
                    <p class="text-base font-Roboto leading-none mb-4">next to the water company.</p>
                </div>
            </div>
        </div>
        <div
            class="order-4 py-5 lg:py-0 lg:order-none col-span-6 row-span-1 lg:col-span-2 lg:row-span-1 flex justify-center items-center space-x-4">
            <span class="font-bold font-Quicksand text-base text-[#253D4E] dark:text-slate-200">Follow Us:</span>
            <ul class="flex space-x-2">
                <li>
                    <a href="/" target="_blank"
                        class="shadow-lg w-8 h-8 flex items-center justify-center rounded-full bg-green-600 text-slate-200 text-2xl hover:bg-green-700 active:bg-green-800 dark:bg-green-700 dark:hover:bg-green-800 dark:active:bg-green-900 transition">
                        <i class="fa-2xs fa-fw fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="/" target="_blank"
                        class="shadow-lg w-8 h-8 flex items-center justify-center rounded-full bg-green-600 text-slate-200 text-2xl hover:bg-green-700 active:bg-green-800 dark:bg-green-700 dark:hover:bg-green-800 dark:active:bg-green-900 transition">
                        <i class="fa-2xs fa-fw fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="/" target="_blank"
                        class="shadow-lg w-8 h-8 flex items-center justify-center rounded-full bg-green-600 text-slate-200 text-2xl hover:bg-green-700 active:bg-green-800 dark:bg-green-700 dark:hover:bg-green-800 dark:active:bg-green-900 transition">
                        <i class="fa-2xs fa-fw fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="/" target="_blank"
                        class="shadow-lg w-8 h-8 flex items-center justify-center rounded-full bg-green-600 text-slate-200 text-2xl hover:bg-green-700 active:bg-green-800 dark:bg-green-700 dark:hover:bg-green-800 dark:active:bg-green-900 transition">
                        <i class="fa-2xs fa-fw fab fa-pinterest"></i>
                    </a>
                </li>
                <li>
                    <a href="/" target="_blank"
                        class="shadow-lg w-8 h-8 flex items-center justify-center rounded-full bg-green-600 text-slate-200 text-2xl hover:bg-green-700 active:bg-green-800 dark:bg-green-700 dark:hover:bg-green-800 dark:active:bg-green-900 transition">
                        <i class="fa-2xs fa-fw fab fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div
            class="col-span-6 row-span-1 lg:col-span-4 lg:row-span-1 flex items-center bg-[url('/assets/Images/GroupFooter.svg')]  bg-repeat-x bg-contain bg-center">
            <div class="w-full h-[1px] mx-1 my-1 lg:my-0 rounded-lg bg-slate-100 dark:bg-slate-400"></div>
        </div>
        <div
            class="order-5 lg:order-none col-span-6 row-span-1 lg:col-span-6 lg:row-span-1 flex items-center justify-center">
            <!--dark:bg-slate-500-->
            <p class=" text-sm text-[#2d352b] font-Roboto text-center dark:text-slate-200 pb-2 lg:pb-0">© 2025 Napta™.
                All Rights
                Reserved.</p>
        </div>
    </div>
</div>