<div class="ms-[-12px] " #DivParentOfCarousel>
    <owl-carousel-o #carouselRef [options]="customOptions1">
        <ng-template [dataMerge]="1" carouselSlide>
            <div
                class="w-full h-[45vh] bg-[url('./assets/Images/Plantss.webp')] bg-[length:100%_100%] bg-center bg-no-repeat relative">
                <div class="absolute inset-0 bg-black bg-opacity-65 flex justify-center items-center">
                    <h1
                        class="mb-4 text-2xl font-extrabold text-gray-200 dark:text-white md:text-4xl xl:text-5xl w-2/4 text-center">
                        We have all <span
                            class="text-transparent bg-clip-text bg-gradient-to-r from-lime-700 via-teal-600 to-green-700 ">Tools
                            Plants Products </span>You might need.</h1>
                </div>
            </div>
        </ng-template>
        <ng-template [dataMerge]="2" carouselSlide>
            <div
                class="w-full h-[45vh] bg-[url('./assets/Images/plantsss.jpg')] bg-[length:100%_100%] bg-center bg-no-repeat relative">
                <div class="absolute inset-0 bg-black bg-opacity-65 flex justify-center items-center">
                    <h1
                        class="mb-4 text-2xl font-extrabold text-gray-200 dark:text-white md:text-4xl xl:text-5xl w-2/4 text-center">
                        We have all <span
                            class="text-transparent bg-clip-text bg-gradient-to-r from-lime-700 via-teal-600 to-green-700 ">Agricultural
                            Seeds Of All Kinds </span>You might need.</h1>
                </div>
            </div>
        </ng-template>
        <ng-template [dataMerge]="1" carouselSlide>
            <div
                class="w-full h-[45vh] bg-[url('./assets/Images/Plantsssss.jpg')] bg-[length:100%_100%] bg-center bg-no-repeat relative">
                <div class="absolute inset-0 bg-black bg-opacity-65 flex justify-center items-center">
                    <h1
                        class="mb-4 text-2xl font-extrabold text-gray-200 dark:text-white md:text-4xl xl:text-5xl w-2/4 text-center">
                        We have all <span
                            class="text-transparent bg-clip-text bg-gradient-to-r from-lime-700 via-teal-600 to-green-700 ">Aornamental
                            Plants Products </span>You might need.</h1>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>