<br><br><br><br>
<div class="w-[90%] sm:h-[80%] mb-16 overflow-hidden mx-auto rounded-xl">
    <div class="bg-[#F3F3F3] dark:bg-slate-500  w-full h-full p-5 ">
        <div class="bg-lines-notfound w-full h-full flex items-center bg-contain">
            <div
                class="w-full flex justify-center items-center flex-col-reverse sm:flex-row sm:justify-around sm:content-center">
                <div class="sm:w-[40%] flex flex-col justify-center w-[90%] ">
                    <p class="text-[#1A2E35] dark:text-black font-extrabold text-5xl font-Roboto">Ooops...</p>
                    <p class="text-[#1A2E35] dark:text-black text-lg font-bold font-Roboto mb-8 mt-3">We can’t find the
                        page that you are looking for... !</p>
                    <button type="button"
                        class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-700 dark:from-green-700 dark:via-green-800 dark:to-green-900 hover:bg-gradient-to-br active:ring-4 active:outline-none active:ring-green-300 dark:active:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-32">Go
                        Back →</button>
                </div>
                <div class="sm:w-[40%] w-[90%] ">
                    <img src="./assets/Images/GroupNotFound.svg" width="100%" alt="Not Found">
                </div>
            </div>
        </div>
    </div>
</div>