<button class="w-full flex items-center justify-center text-white bg-gradient-to-r from-green-600 to-green-500 
        hover:from-green-700 hover:to-green-600 transition-all duration-300 active:ring-4 active:outline-none active:ring-green-300 
        font-medium rounded-lg text-sm px-4 py-2 shadow-md transform hover:scale-110 active:scale-95">
    <svg class="w-4 h-4 mr-2 text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round"
            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13l-1 5m0 0h12m-12 0a1 1 0 1 0 2 0m10 0a1 1 0 1 0 2 0m-2-5V5m-4 8V5m-4 8V5">
        </path>
    </svg>
    Add to Cart
</button>