@if(MyCart?.items.length !=0&& MyCart !=null){
<div class="py-6 px-1 md:p-6 my-5 mx-8 bg-white dark:bg-green-900 rounded shadow-md">
    <h2 class="text-2xl font-semibold dark:text-white font-Roboto">Shop Cart :</h2>
    <div class="flex flex-col justify-center items-start md:flex-row md:justify-between md:items-center">
        <p class="text-green-600 dark:text-green-400 text-lg font-semibold font-Signika">Total Cart Price : {{
            MyCart?.totalPrice }} EGP</p>
        <h1 class="text-sm font-semibold dark:text-white font-Roboto sm:pe-5">Items :<span class="font-Signika">
                {{MyCart?.items.length}} product type </span></h1>
    </div>
    @for(item of MyCart?.items;track $index ){
    <div class="my-4 border-b-4 rounded-xl dark:border-gray-400">
        <div class="flex items-center justify-between p-4 rounded">
            <div class="flex items-center gap-4 ">
                <a [routerLink]="'/User/Shop/ProductDetails/'+item.productId">
                    <img [src]="item.pictureUrl" [alt]="item.productName"
                        class="w-16 h-16 object-cover rounded" />
                </a>
                <div class="whitespace-nowrap overflow-hidden ">
                    <h3
                        class="text-gray-900 dark:text-green-100 font-medium text-base w-[140px] sm:w-[240px] md:w-[100%] truncate whitespace-nowrap overflow-hidden font-Poppins">
                        {{ item.productName }}</h3>
                    <p class="text-green-700 dark:text-green-400 font-medium text-sm font-Signika">price : {{ item.price
                        }} EGP</p>
                    <button (click)="deleteItem(item.productId)"
                        class="text-green-600 hover:underline dark:text-green-300 text-xs font-Roboto">
                        <i class="fa-solid fa-trash"></i> Remove
                    </button>
                </div>
            </div>
            <div class="flex items-center gap-2">
                <!-- updateQTYLocal(item, +1)        updateQTYLocal(item, -1) -->
                <button (click)="IncreaseItemQuantity(item.productId)"      
                    [disabled]="(item.quantity) >= 9"
                    class="px-2 py-1 border border-green-700 dark:border-green-300 disabled:cursor-not-allowed text-green-700 dark:text-green-300 rounded bg-transparent hover:bg-green-200 active:bg-green-300 dark:hover:bg-green-900 dark:active:bg-green-950 transition duration-200"><i
                        class="fa-solid fa-plus"></i></button>
                <span class="text-green-900 dark:text-white font-Signika font-medium">{{ item.quantity }}</span>
                <button (click)="DecreaseItemQuantity(item.productId)" [disabled]="(item.quantity) <= 1"
                    class="px-2 py-1 border border-green-700 dark:border-green-300 disabled:cursor-not-allowed text-green-700 dark:text-green-300 rounded bg-transparent hover:bg-green-200 active:bg-green-300 dark:hover:bg-green-900 dark:active:bg-green-950 transition duration-200"><i
                        class="fa-solid fa-minus"></i></button>
            </div>
        </div>
    </div>
    }
    <div class="w-full flex flex-col px-8 pt-5 lg:px-5 justify-center items-center lg:flex-row lg:justify-center lg:items-center">
        <a [routerLink]="'/User/Shop/DetailsCheckout/'+MyCart?.id"  
            class="bg-green-600 text-center font-Philosopher mb-1 lg:mb-0 me-0 lg:me-5 hover:bg-green-700 disabled:cursor-not-allowed disabled:bg-green-500 active:bg-green-800 text-white w-full text-md font-medium px-5 py-2 rounded mt-2 transition-colors duration-200">
            @if (!paybuttonisClick) {
            Place Order
            }@else {
            <div class="align-baseline flex items-center justify-center"><svg aria-hidden="true" role="status"
                    class="inline w-5 h-5 me-1 text-white animate-spin" viewBox="0 0 100 101" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                        fill="#E5E7EB" />
                    <path
                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                        fill="currentColor" />
                </svg>
                Order...</div>
            }
        </a>
        <button (click)="deletingALLCart()"
        class="bg-red-600 font-Philosopher hover:bg-red-700 disabled:cursor-not-allowed disabled:bg-red-500 active:bg-red-800 text-white w-full text-md font-medium px-5 py-2 rounded mt-2 transition-colors duration-200">
        @if (!DeleteallisClick) {
        Delete Cart
        }@else {
        <div class="align-baseline flex items-center justify-center"><svg aria-hidden="true" role="status"
                class="inline w-5 h-5 me-1 text-white animate-spin" viewBox="0 0 100 101" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="#E5E7EB" />
                <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentColor" />
            </svg>
            Deleting...</div>
        }
    </button>
    </div>
</div>
}@else{
<div
    class="py-[150px]  my-5 mx-8 from-green-400 via-green-500 to-green-600 dark:from-green-600 dark:via-green-700 dark:to-green-800 bg-gradient-to-br shadow-lime-700/50 dark:shadow-lg dark:shadow-lime-800/50 rounded shadow-md flex flex-col justify-center items-center">
    <h2 class="text-3xl font-semibold dark:text-white font-Roboto text-center pb-10">Your Cart Is Empty!</h2>
    <div class="flex justify-between mx-auto items-center align-baseline w-[100%] md:w-[50%] lg:w-[40%]">
        <h2 class="text-xl font-semibold dark:text-white font-Roboto text-center ms-2">Go Shopping ✨🛒 :</h2>
        <a routerLink="/User/Shop"
            class="font-Roboto hover:cursor-pointer text-gray-900 bg-gradient-to-r from-lime-400 via-lime-500 to-lime-600 hover:bg-gradient-to-br active:ring-4 active:outline-none active:ring-lime-300 dark:active:ring-lime-800 shadow-lg shadow-lime-500/50 dark:shadow-lg dark:shadow-lime-800/80 font-medium rounded-lg text-sm px-7 py-2.5 text-center me-2 mb-2">Shop</a>
    </div>
</div>
}