<div 
    class="grid grid-cols-1  mx-auto sm:w-auto sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4" [ngClass]="{'w-[60%]': isProductDetails,'w-[75%]':!isProductDetails}">
    <!-- Plant Product Card -->
    @for (product of products; track $index) {
    <div
        class="bg-white dark:bg-green-800 border border-green-300 dark:border-green-600 rounded-lg shadow-md overflow-hidden transform transition-all duration-300 hover:scale-105 hover:shadow-xl p-3">
        <a [routerLink]="'/User/Shop/ProductDetails/'+product.id">
            <img class="w-full  object-fill rounded-md transition-transform duration-300 hover:scale-110" [ngClass]="{'h-40': isProductDetails,'h-80':!isProductDetails}"
                [src]="product.pictureUrl" [alt]="product.name">
        </a>
        <div class="flex-1 text-center mx-auto w-1/2">
            <a [routerLink]="'/User/Shop/ProductDetails/'+product.id" class=" whitespace-nowrap overflow-hidden ">
                <h5
                    class="pt-5  truncate text-center font-Inter text-sm font-semibold text-green-900 dark:text-green-300 hover:text-green-700 dark:hover:text-green-400 active:text-green-800 dark:active:text-green-500 leading-tight">
                    {{product.name}}
                </h5>
            </a>
        </div>
        <div class="p-3">
            <div class="flex justify-between items-center whitespace-nowrap overflow-hidden text-overflow: ellipsis">
                <h3 class="cursor-default font-Quicksand text-green-700 dark:text-green-400 text-xs truncate">
                    {{product.typeName}}</h3>
                <span
                    class="text-md font-bold text-green-900 font-Signika dark:text-green-200 cursor-default ps-2">{{product.price}}
                    EGP</span>
            </div>
            <div class="flex items-center justify-between pt-3 cursor-default w-full">
                <!-- Rating & Wishlist -->
                <div class="flex  justify-between w-full items-center font-Signika space-x-2">
                    <div class="flex items-center">
                        <svg class="w-4 h-4 text-yellow-500 dark:text-yellow-300" fill="currentColor"
                            viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <span
                            class="ml-1 text-base font-medium text-green-900 dark:text-green-200">{{product.rate}}</span>
                    </div>
                    <!-- Wishlist -->
                    <app-button-wish [product]="product"></app-button-wish>
                </div>
            </div>
            <!-- Action Buttons -->
            <div class="flex items-center justify-center w-full mt-3 ">
                <!-- Add to Cart -->
                <app-button-cart class="w-full font-Philosopher" [id]="product.id" [product]="product"></app-button-cart>
            </div>
        </div>
    </div>
    }
    <!-- End of Product Card -->
</div>