/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));
@font-face {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    src: url('assets/Fonts/Philosopher/Philosopher-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('assets/Fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}
*{
    box-sizing: border-box;
}
  