<div
    class=" w-auto md:w-[75%] lg:w-[50%] py-6 px-4 md:p-6 my-5 mx-8 md:mx-auto bg-gray-100 dark:bg-green-950 text-gray-900 dark:text-green-100 rounded-xl shadow-md transition-colors duration-300">
    <h2 class="text-2xl font-bold mb-6 text-green-700 dark:text-green-200 font-Poppins">Address Details:</h2>
    <form [formGroup]="typeDetails" (ngSubmit)="onSubmit()" novalidate>
        <!-- Details -->
        <div class="mb-4">
            <label
                class="block text-base ps-2 font-semibold font-Poppins mb-1 text-green-800 dark:text-green-100">Details:</label>
            <textarea formControlName="details" rows="3" placeholder="Enter full address details..."
                class="w-full border border-green-600 dark:bg-gray-200 dark:border-green-600 rounded-lg p-2 text-gray-800 dark:text-gray-950 font-Signika placeholder:text-sm placeholder:font-Quicksand  focus:ring-2 focus:ring-green-400 dark:focus:ring-green-600 transition"></textarea>
            <div *ngIf="typeDetails.get('details')?.touched && typeDetails.get('details')?.invalid" role="alert"
                class="flex p-4 mt-4 mb-0 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-green-900 dark:text-red-400 dark:border-red-800">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <span class="font-medium"><strong>Ensure</strong> that this requirement is met in <strong>
                            Details Input:</strong></span>
                    <ul class="mt-1.5 list-disc list-inside">
                        <li *ngIf="typeDetails.get('details')?.hasError('required')">Details Address are required.</li>
                        <li *ngIf="typeDetails.get('details')?.hasError('minlength')">Minimum 10 characters.</li>
                        <li *ngIf="typeDetails.get('details')?.hasError('maxlength')">Maximum 150 characters.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Phone -->
        <div class="mb-4">
            <label
                class="block text-base ps-2 font-semibold font-Poppins mb-1 text-green-800 dark:text-green-100">Phone:</label>
            <input formControlName="phone" type="text" placeholder="Enter your phone number..."
                class="w-full border border-green-600 dark:bg-gray-200 dark:border-green-600 rounded-lg p-2 text-gray-800 dark:text-gray-950 font-Signika placeholder:text-sm placeholder:font-Quicksand  focus:ring-2 focus:ring-green-400 dark:focus:ring-green-600 transition" />
            <div *ngIf="typeDetails.get('phone')?.touched && typeDetails.get('phone')?.invalid" role="alert"
                class="flex p-4 mt-4 mb-0 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-green-900 dark:text-red-400 dark:border-red-800">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <span class="font-medium"><strong>Ensure</strong> that this requirement is met in <strong>
                            Phone Input:</strong></span>
                    <ul class="list-disc list-inside">
                        <li *ngIf="typeDetails.get('phone')?.hasError('required')">Phone number is required.</li>
                        <li *ngIf="typeDetails.get('phone')?.hasError('pattern')">Invalid phone format. Example:
                            +123456789 or 0123456789</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- City -->
        <div class="mb-4">
            <label
                class="block text-base ps-2 font-semibold font-Poppins mb-1 text-green-800 dark:text-green-100">City:</label>
            <input formControlName="city" type="text" placeholder="Enter your city..."
                class="w-full border border-green-600 dark:bg-gray-200 dark:border-green-600 rounded-lg p-2 text-gray-800 dark:text-gray-950 font-Signika placeholder:text-sm placeholder:font-Quicksand  focus:ring-2 focus:ring-green-400 dark:focus:ring-green-600 transition" />
            <div *ngIf="typeDetails.get('city')?.touched && typeDetails.get('city')?.invalid" role="alert"
                class="flex p-4 mt-4 mb-0 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-green-900 dark:text-red-400 dark:border-red-800">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <span class="font-medium"><strong>Ensure</strong> that this requirement is met in <strong>
                            City Input:</strong></span>
                    <ul class="list-disc list-inside">
                        <li *ngIf="typeDetails.get('city')?.hasError('required')">City Name is required.</li>
                        <li *ngIf="typeDetails.get('city')?.hasError('minlength')">At least 2 characters.</li>
                        <li *ngIf="typeDetails.get('city')?.hasError('maxlength')">At most 15 characters.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Submit Button -->
        <button type="submit" [disabled]="isSubnitClick" class="mt-4 w-full bg-green-600 text-white dark:text-green-100 p-3 rounded-lg text-lg font-bold font-Roboto transition text-center flex justify-center
        hover:bg-green-700 active:bg-green-800 disabled:bg-green-400 disabled:cursor-not-allowed">
            @if(!isSubnitClick){
            <div>Continue</div>
            }@else{
            <div class="align-baseline"><svg aria-hidden="true" role="status"
                    class="inline w-5 h-5 me-1 text-white animate-spin" viewBox="0 0 100 101" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                        fill="#E5E7EB" />
                    <path
                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                        fill="currentColor" />
                </svg>
                Loading...</div>
            }
        </button>
    </form>
</div>