<nav class=" bg-green-100 dark:backdrop-blur-lg dark:bg-green-900/60 border-gray-400 fixed top-0 right-0 left-0">
    <div
        class="max-w-screen-xl flex md:flex-col flex-wrap  md:space-y-3.5 lg:space-y-0 lg:flex-row items-center justify-between mx-auto p-4">
        <div class="flex items-center space-x-1 rtl:space-x-reverse md:self-start lg:self-auto cursor-default">
            <img src="./assets/Images/Group 10000020535.svg" class="h-8" alt="Napta Logo" />
            <span
                class="self-center text-2xl whitespace-nowrap dark:text-white text-gray-900 font-Philosopher ">NAPTA</span>
        </div>
        <div class="md:order-3 flex space-x-5  md:self-end lg:self-auto  items-center">
            <button (click)="toggleTheme()"
                class="md:order-2 relative w-14 h-8 rounded-full p-1 transition-colors duration-300 focus:outline-none"
                [ngClass]="{'bg-yellow-400': !isDarkMode,'bg-blue-600': isDarkMode}">
                <!-- Thumb with Icon -->
                <div class="absolute top-1 left-1 w-6 h-6 bg-white rounded-full shadow-md transform transition-transform duration-300 flex items-center justify-center"
                    [ngClass]="{'translate-x-0': !isDarkMode,'translate-x-6': isDarkMode}">
                    <!-- Sun Icon (Light Mode) -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-yellow-500" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" *ngIf="!isDarkMode">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                    <!-- Moon Icon (Dark Mode) -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-blue-500" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" *ngIf="isDarkMode">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
                    </svg>
                </div>
            </button>
            <div class="flex items-center md:order-3 space-x-3 md:space-x-0 rtl:space-x-reverse">
                <button type="button"
                    class="flex text-sm bg-green-900 rounded-full md:me-0 active:ring-4 active:ring-green-300 dark:active:ring-green-600"
                    id="admin-menu-button" aria-expanded="false" data-dropdown-toggle="admin-dropdown"
                    data-dropdown-placement="bottom">
                    <span class="sr-only">Open admin menu</span>
                    <img class="w-10 h-10 rounded-full" src="./assets/Images/1726949646493.jpg" alt="admin photo">
                </button>
                <!-- Dropdown menu -->
                <div class="z-50 hidden my-4 text-base list-none bg-green-50 divide-y divide-gray-100 rounded-lg shadow-xl dark:bg-gray-700 dark:divide-gray-600"
                    id="admin-dropdown">
                    <div class="px-4 py-3 cursor-default">
                        <span class="block text-sm text-gray-900 dark:text-white font-Roboto">Youssef Arafa <span
                                class="text-xxs">(Admin)</span></span>
                        <span
                            class="block text-sm  text-gray-500 truncate dark:text-gray-400 font-Roboto">rfht300&#64;gmail.com</span>
                    </div>
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-400 space-y-2" aria-labelledby="admin-menu-button">
                        <li>
                            <a [routerLink]="['/Admin/SystemSettings']"
                                routerLinkActive="border-2 font-semibold border-green-700 dark:border-green-400 bg-gray-100 md:bg-transparent text-green-600 dark:text-green-500 dark:bg-green-900 "
                                class="block px-4 py-1 rounded-xl hover:bg-green-100 dark:hover:bg-green-700 dark:hover:text-white  mx-1">System settings</a>
                        </li>
                        <li>
                            <a [routerLink]="['/']" 
                            class="block px-4 py-1 rounded-xl hover:bg-green-100 dark:hover:bg-green-700 dark:hover:text-white  mx-1">Sign
                                out</a>
                        </li>
                    </ul>
                    <div data-popper-arrow class="absolute top-[-5px] w-3 after:w-3 before:w-3 after:h-3 before:h-3 "></div>
                </div>
                <button data-collapse-toggle="navbar-admin" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-green-200 active:outline-none active:ring-2 active:ring-green-300 dark:text-gray-400 dark:hover:bg-green-700 dark:active:ring-green-600"
                    aria-controls="navbar-admin" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
            </div>
        </div>



        <div class="md:flex items-center justify-between hidden w-full md:w-auto md:order-1 dark:bg-transparent" id="navbar-admin">
            <ul
                class="flex flex-col md:items-center items-start font-medium p-4 md:p-0 mt-4 border border-green-400 rounded-lg md:space-x-4 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0  bg-green-100 dark:bg-green-900 md:dark:bg-transparent dark:border-green-700">
                <li class="w-auto">
                    <a routerLink="/Admin/DashBoard"
                    class="block px-3 md:px-4 md:py-1 w-40 md:w-auto border-0 rounded-lg font-Quicksand dark:text-[#ffffff] text-gray-900 hover:bg-green-200  md:hover:bg-transparent hover:text-green-700 dark:hover:text-green-300 dark:hover:bg-green-800 md:dark:hover:bg-transparen mb-3 md:mb-0"
                    routerLinkActive="px-5 w-auto font-semibold border-2 border-green-700 dark:border-green-400 rounded-xl bg-gray-100 md:bg-transparent text-green-700 dark:text-green-500 dark:bg-green-900 md:dark:bg-transparent"
                        aria-current="page">DashBoard</a>
                </li>
                <li class="w-auto">
                    <a routerLink="/Admin/Orders"
                    class="block px-3 md:px-4 md:py-1 w-40 md:w-auto border-0 rounded-lg font-Quicksand dark:text-[#ffffff] text-gray-900 hover:bg-green-200  md:hover:bg-transparent hover:text-green-700 dark:hover:text-green-300 dark:hover:bg-green-800 md:dark:hover:bg-transparen mb-3 md:mb-0"
                    routerLinkActive="px-5 w-auto font-semibold border-2 border-green-700 dark:border-green-400 rounded-xl bg-gray-100 md:bg-transparent text-green-700 dark:text-green-500 dark:bg-green-900 md:dark:bg-transparent">Orders</a>
                </li>
                <li class="w-auto">
                    <a routerLink="/Admin/Customers"
                    class="block px-3 md:px-4 md:py-1 w-40 md:w-auto border-0 rounded-lg font-Quicksand dark:text-[#ffffff] text-gray-900 hover:bg-green-200  md:hover:bg-transparent hover:text-green-700 dark:hover:text-green-300 dark:hover:bg-green-800 md:dark:hover:bg-transparen mb-3 md:mb-0"
                    routerLinkActive="px-5 w-auto font-semibold border-2 border-green-700 dark:border-green-400 rounded-xl bg-gray-100 md:bg-transparent text-green-700 dark:text-green-500 dark:bg-green-900 md:dark:bg-transparent">Customers</a>
                </li>
                <li class="order-last md:order-none ">
                    <button id="dropdownBottomButton" data-dropdown-toggle="dropdownBottom"
                        data-dropdown-placement="bottom"
                        class="ps-3 pe-1 flex items-baseline md:ps-4 md:py-1 font-Quicksand dark:text-[#ffffff] text-gray-900 rounded-sm hover:text-green-500 active:text-green-600 dark:hover:text-green-500 dark:active:text-green-600">Product
                        & Category <i class="ps-1 fa-sm fa-solid fa-chevron-down"></i></button>
                    <!-- Dropdown menu -->
                    <div id="dropdownBottom"
                        class="md:inset-y-8 z-10 hidden font-normal bg-green-50 divide-y divide-gray-100 rounded-lg shadow-xl w-48 dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-400 space-y-2" aria-labelledby="dropdownLargeButton">
                            <li>
                                <a routerLink="/Admin/Products"
                                routerLinkActive="border-2 font-semibold border-green-700 dark:border-green-400 bg-gray-100 md:bg-transparent text-green-600 dark:text-green-500 dark:bg-green-900"
                                class="block px-4 py-1 rounded-xl hover:bg-green-100 dark:hover:bg-green-700 dark:hover:text-white  mx-1">Products
                                    List</a>
                            </li>
                            <li>
                                <a routerLink="/Admin/Categories"
                                routerLinkActive="border-2 font-semibold border-green-700 dark:border-green-400 bg-gray-100 md:bg-transparent text-green-600 dark:text-green-500 dark:bg-green-900"
                                class="block px-4 py-1 rounded-xl hover:bg-green-100 dark:hover:bg-green-700 dark:hover:text-white  mx-1">Categories</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="w-auto">
                    <a routerLink="/Admin/PlantDiseases"
                    class="block px-3 md:px-4 md:py-1 w-40 md:w-auto border-0 rounded-lg font-Quicksand dark:text-[#ffffff] text-gray-900 hover:bg-green-200  md:hover:bg-transparent hover:text-green-700 dark:hover:text-green-300 dark:hover:bg-green-800 md:dark:hover:bg-transparen mb-3 md:mb-0"
                    routerLinkActive="px-5 w-auto font-semibold border-2 border-green-700 dark:border-green-400 rounded-xl bg-gray-100 md:bg-transparent text-green-700 dark:text-green-500 dark:bg-green-900 md:dark:bg-transparent">Plant
                        Diseases</a>
                </li>
            </ul>
        </div>
    </div>
</nav>